@import url('global.css');

body{
    font-family: "K2D";
    background-color: rgb(3, 21, 21);
    color: var(--greygreen);
}

/* Maps Desc and Mini Maps */
#maps-desc-content{
    height: 580px;
    background-size: cover;
    background-position: center;
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 80px;
    position: relative;
    border-radius: 0px 0px 50px 5px;
    border-bottom: 0.5px solid var(--midgreen);
}

.lotos{
    background-image: 
    linear-gradient(to top, rgba(3, 21, 21, 0.874), rgba(9, 58, 50, 0.329)),
    url('../1_image/maps/Lotus/Lotus.png');
}

.chain{
    background-image: 
    linear-gradient(to top, rgba(3, 21, 21, 0.874), rgba(9, 58, 50, 0.329)),
    url('../1_image/maps/Breeze/Breeze.png');
}

.pool{
    background-image: 
    linear-gradient(to top, rgba(3, 21, 21, 0.874), rgba(9, 58, 50, 0.329)),
    url('../1_image/maps/Pearl/Pearl.png');
}

.freeze{
    background-image: 
    linear-gradient(to top, rgba(3, 21, 21, 0.874), rgba(9, 58, 50, 0.329)),
    url('../1_image/maps/Icebox/Icebox.png');
}

.havert{
    background-image: 
    linear-gradient(to top, rgba(3, 21, 21, 0.874), rgba(9, 58, 50, 0.329)),
    url('../1_image/maps/Ascent/Ascent.png');
}

#maps-desc-content .separator{
    width: 100%;
    height: 2px;
    background: linear-gradient( to left, var(--lightgreen),rgba(0, 0, 0, 0));
}

#maps-desc-content .left-container{
    width: 40vw;
}

#maps-desc-content .left-container h4{
    top: 110px;
    font-size: 150px;
    font-family: "Wallpoet";
    font-weight: 100;
    position: absolute;
    color: transparent;
    opacity: 0.4;
    -webkit-text-stroke: 1px var(--lightgreen);
}

#maps-desc-content .left-container h1{
    font-family: "Wallpoet";
    font-weight: 100;
    font-size: 96px;
    padding-bottom: 10px;
    background: var(--minititle);
    filter: drop-shadow( 0px 0px 5px var(--midgreen));
    -webkit-background-clip: text;
    color: transparent;
}

#maps-desc-content .left-container p{
    text-align: left;
    font-size: 18px;
    margin-top: 10px;
}

#maps-desc-content .right-container{
    width: 50vw;
}

#maps-desc-content .right-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow( 0px 0px 10px var(--midgreen));
}

/* Maps Gallery */
#maps-gallery{
    padding-top: 20px;
}

.slider{
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;

    h2{
        position: absolute;
        font-family: "Wallpoet";
        font-weight: 100;
        font-size: 125px;
        letter-spacing: -5px;
        top: 0px;
        text-transform: uppercase;
        z-index: 0;
    
        opacity: 0.5;
        color: transparent;
        -webkit-text-stroke: 1px var(--lightgreen);
    
    }

    .item{
        position: absolute;
        height: 540px;
        aspect-ratio: 15/9;
        border-radius: 10px 50px;
        border: 1.5px solid var(--green);
        padding: 3px;
        transition: 0.5s;

        img{
            width: 100%;
            height: 100%;
            border-radius: 10px 50px;
            object-fit: cover;
        }
    }

    .item.active {
        width: 820px;
        transform: none;
        opacity: 1;
        z-index: 1;
        filter: none;
    
        h2 {
            display: block;
        }
    }
    
    .item.left {
        width: 410px;
        transform: translateX(-360px) scale(0.8);
        opacity: 0.8;
        z-index: 0;
        filter: blur(2px);
    }
    
    .item.right {
        width: 410px;
        transform: translateX(360px) scale(0.8);
        opacity: 0.8;
        z-index: 0;
        filter: blur(2px);
    }
}

.gallery{
    min-height: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

#next, #prev{
    position: absolute;
    top: 40%;
    left: 50px;
    z-index: 999;
}

#next{
    left: unset;
    right: 50px;
}

.arrows button{
    border: none;
    background-color: transparent;
    color: transparent;
    font-family: "K2D";
    font-size: 80px;
    letter-spacing: -20px;
    -webkit-text-stroke: 1px #ffffff;
    transition: all .5s ease;
}

.arrows button:hover{
    -webkit-text-stroke: 1px #1affb6;
}

.dots{
    position: absolute;
    color: black;
    width: 100%;
    display: flex;
    bottom: 100px;
    justify-content: center;
    z-index: 999;
}

.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.dots li.active{
    background-color: var(--lightgreen);
}

@media (max-width:1138px){
    #maps-desc-content{
       height: 550px;
    }

    #maps-desc-content .left-container h4{
        top: 120px;
        font-size: 110px;
    }

    .gallery{
        min-height: 620px;

        .item{
            height: 480px;
            aspect-ratio: 6/4;
        }

        .item{
            position: absolute;
            height: 450px;
            aspect-ratio: 15/9;
            border-radius: 10px 50px;
            border: 1.5px solid var(--green);
            padding: 3px;
            transition: 0.5s;
    
            img{
                width: 100%;
                height: 100%;
                border-radius: 10px 50px;
                object-fit: cover;
            }
        }
    
        .item.active {
            width: 670px;
            transform: none;
            opacity: 1;
            z-index: 1;
            filter: none;
        
            h2 {
                display: block;
            }
        }
        
        .item.left {
            width: 310px;
            transform: translateX(-310px) scale(0.8);
            opacity: 0.8;
            z-index: 0;
            filter: blur(2px);
        }
        
        .item.right {
            width: 310px;
            transform: translateX(310px) scale(0.8);
            opacity: 0.8;
            z-index: 0;
            filter: blur(2px);
        }
    }
}

@media (max-width:966px){
    #maps-desc-content{
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 50px;
        background: linear-gradient(to top, rgba(3, 21, 21, 0.874), rgba(9, 58, 50, 0.329), rgba(3, 21, 21, 0.874)),
        url(/1_image/maps/Lotus/Lotus.png);
        background-repeat: no-repeat;
        background-size: cover;

        .left-container{
            width: 100%;

            h4{
                top: 15px;
            }
        }

        .right-container{
            width: 70%;
        }
    }

    .gallery{
        min-height: 510px;

        .item{
            height: 350px;
            aspect-ratio: 6/4;
        }

        .item{
            position: absolute;
            height: 360px;
            aspect-ratio: 15/9;
            border-radius: 10px 50px;
            border: 1.5px solid var(--green);
            padding: 3px;
            transition: 0.5s;
    
            img{
                width: 100%;
                height: 100%;
                border-radius: 10px 50px;
                object-fit: cover;
            }
        }
    
        .item.active {
            width: 480px;
            transform: none;
            opacity: 1;
            z-index: 1;
            filter: none;
        
            h2 {
                display: block;
            }
        }
        
        .item.left {
            width: 280px;
            transform: translateX(-240px) scale(0.8);
            opacity: 0.8;
            z-index: 0;
            filter: blur(2px);
        }
        
        .item.right {
            width: 280px;
            transform: translateX(240px) scale(0.8);
            opacity: 0.8;
            z-index: 0;
            filter: blur(2px);
        }
    }

}

@media (max-width : 414px){
    #maps-desc-content{
        .left-container{
            width: 100%;

            h4{
                top: 15px;
                font-size: 80px;
                opacity: 0.3;
            }

            h1{
                font-size: 55px;
            }

            p{
                font-size: 12px;
            }
        }

        .right-container{
            width: 80%;
        }
    }

    .gallery{
        min-height: 280px;

        
        .item{
            position: absolute;
            height: 200px;
            aspect-ratio: 15/9;
            border-radius: 10px 50px;
            border: 1.5px solid var(--green);
            padding: 3px;
            transition: 0.5s;
    
            img{
                width: 100%;
                height: 100%;
                border-radius: 10px 50px;
                object-fit: cover;
            }
        }
    
        .item.active {
            width: 220px;
            transform: none;
            opacity: 1;
            z-index: 1;
            filter: none;
        
            h2 {
                display: block;
            }
        }
        
        .item.left {
            width: 110px;
            transform: translateX(-120px) scale(0.8);
            opacity: 0.8;
            z-index: 0;
            filter: blur(2px);
        }
        
        .item.right {
            width: 110px;
            transform: translateX(120px) scale(0.8);
            opacity: 0.8;
            z-index: 0;
            filter: blur(2px);
        }
        
    }

    .slider h2{
        font-size:70px;
        -webkit-text-stroke: 0.5px var(--lightgreen);
    }

    #next, #prev{
        position: absolute;
        font-size: 30px;
    }

    .dots{
        position: absolute;
        color: black;
        width: 100%;
        display: flex;
        bottom: 60px;
    }

    .dots li{
        width: 5px;
        height: 5px;
        margin: 5px;
    }
}